{
  "env": {
    "devClient": {
      "presets": [
        ["env", {
          "targets": { "browsers": ["android >= 4.4", "ios_saf > 9", "and_chr >= 56"] },
          "useBuiltIns": "usage"
        }],
        "react",
        "stage-2"
      ],
      "plugins": [["emotion", { "inline": true }], "universal-import", "react-hot-loader/babel"],
    },
    "prodClient": {
      "presets": [
        ["env", {
          "targets": { "browsers": ["android >= 4.4", "ios_saf > 9", "and_chr >= 56"] },
          "useBuiltIns": "usage"
        }],
        "react",
        "stage-2"
      ],
      "plugins": [["emotion", { "inline": true }], "universal-import"],
    },
    "server": {
      "presets": [
        ["env", {
          "targets": { "node": "current" }
        }],
        "react",
        "stage-2"
      ],
      "plugins": [["emotion", { "inline": true }], "universal-import"],
    }
  }
}
