{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["android >= 4.4", "iOS > 9", "ChromeAndroid >= 56"]
      },
      "useBuiltIns": "usage"
    }],
    "react"
  ],
  "plugins": [["emotion", { "inline": true }], "universal-import"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
