{
  "presets": ["es2015", "react", "stage-2"],
  "plugins": [["emotion", { "inline": true }], "universal-import"],
  "env": {
    "development": {
      "plugins": [["emotion", { "inline": true }], "react-hot-loader/babel"]
    }
  }
}
